/*
--------------------------------------------------------------------------------
Open Sans, sans-serif
light: 300
semi-bold: 600
extra-bold: 800
--------------------------------------------------------------------------------
*/
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface|Palanquin:400,600';


.palanquin {
  font-family: 'Palanquin', sans-serif;
}

.abril {
  font-family: 'Abril Fatface', serif;
}
