/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black: #000000;
$dark:  #57576d;
$light: #eaebec;
$white: #ffffff;
$pink:  #EE6DC5;
$light-blue: #ECEFF6;
$dark-blue: #94A0BD;


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .2rem;
